{% extends 'main.html' %}
{% load static %}

{% block title %}Фото с людьми{% endblock %}
{% block main_body %}

            {% csrf_token %}
            <div class="container">
                <div class="row">
        <div class="col-5">
<img src= "{{photo.the_photo.url}}" height="auto" width="400" alt="фото">
                    {{ photo.comments }}
        </div>
        <div class="col-3">
         {% for person in ph_persons %}
                <div class="row">
                    <a href="{% url 'detailed_person'  pk=person.id %}">
                        {{person}}
                    </a>
                </div>

                       {% empty %}
                        <li>   Нет прикрепленных людей</li>
                       {% endfor %}
        </div>
        <div class="col-3">
     {% block bottoms %}
      <p><a class="btn btn-primary"  href="{% url 'photo_detailed' pk=photo.pk %}?add_per=True">Добавить человека</a></p>
     {% endblock bottoms %}
        </div>
                </div>

            </div>
{% endblock main_body %}