{% extends 'main.html' %}
{% load static %}
<style>
    {% block style %}
    {% endblock style %}

mytitle {
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 50%;

    border-bottom: 50px;
    padding-bottom: 50%;

    padding: 100px

}
</style>

{% block title %}Фото с людьми{% endblock %}

{% block main_body %}


            {% csrf_token %}
            <div class="container">
                <div class="row">
        <div class="col-5">

<img src= "{{photo.the_photo.url}}" height="auto" width="400" alt="фото">
                   <p> {{ photo.comments }} </p>
        </div>
        <div class="col-3">
            <div style="font-weight: bold" >Люди на фото:
            </div>
         {% for person in ph_persons %}
                <div class="row">
                    <a href="{% url 'detailed_person'  pk=person.id %}">
                        {{person}}
                    </a>
                </div>

                       {% empty %}
             <p><span style="margin-bottom:30px">Нет прикрепленных людей</span> </p>
                       {% endfor %}

         {% block check_photo %}
         {% endblock check_photo %}
        </div>
        <div class="col-3">
     {% block bottoms %}
      <p><a class="btn btn-primary"  href="{% url 'photo_detailed' pk=photo.pk %}?add_per=True">Добавить человека</a></p>
      <p><a class="btn btn-primary"  href="{% url 'photo_detailed' pk=photo.pk %}?ch_p=True">Найти людей на фото (займет некоторое время)</a></p>
     {% endblock bottoms %}
        </div>
                </div>

            </div>
{% endblock main_body %}