{% extends 'Photo/detailed_photo.html' %}
{% load static %}

{% block bottoms %}
        <form action="{% url 'person_add_to_photo' pk=photo.pk %}" >
               <select class="form-select form-select-sm mb-3" aria-label=".form-select-lg example" name="per_id">
    <option selected>Добавить людей на фото</option>
            {% for person in myquery  %}
         <option value="{{ person.pk }}">{{person.last_name}} {{person.first_name}}
         {% if person.middle_name %} {{ person.middle_name }}{% endif %}</option>
             {% endfor %}
                </select>
        <button type="submit" class="btn btn-primary">Прикрепить к фото</button>
        </form>
    {% endblock bottoms %}
