{% extends 'Photo/detailed_photo.html' %}
{% load static %}

{% block style %}
    .brd {
        margin-top: 1rem;
        margin-bottom: 1rem;

   }
{% endblock style %}


{% block check_photo %}
            {% if check %}
            <h2 class="app-section-title mt-4">Поиск совпадений</h2>
            <div class="app-list">
            {% for id, name, conf in check_photo %}
                <div class="app-list-item">
                    <a target="_blank" href="{% url 'detailed_person'  pk=id %}">
                        {{name}}
                    </a>
                </div>
            {% empty %}
              <div class="empty-state">Новых совпадений не найдено</div>
            {% endfor %}
              </div>

        {% endif%}
         {% endblock check_photo %}

{% block bottoms %}
        <form action="{% url 'person_add_to_photo' pk=photo.pk %}" >
               <h2 class="app-section-title">Добавить человека</h2>
               <select class="form-select form-select-sm mb-3" aria-label=".form-select-lg example"
                       name="per_id" required="on" title="Добавить людей на фото">
     <option value="" disabled selected>Добавить людей на фото</option>
            {% for person in myquery  %}
         <option value="{{ person.pk }}">{{person.last_name}} {{person.first_name}}
         {% if person.middle_name %} {{ person.middle_name }}{% endif %}</option>
             {% endfor %}
                </select>
        <button type="submit" class="btn btn-primary">Прикрепить к фото</button>
        </form>
    {% endblock bottoms %}
