{% extends 'main.html' %}
{% load static %}
{% block title %}Фото{% endblock %}


{% block main_body %}
            <h2>Фото</h2>

            {% csrf_token %}
            <div class="container">
                     <div class="row">

                       {% for photo in object_list %}
                <div class="col-2">
                           {% include 'Photo/photo_item.html' %}

                </div>

                       {% empty %}
                        <li>Нет фото</li>
                       {% endfor %}
                    </ul>



                     </div>
            </div>

{% endblock %}