{% extends 'main.html' %}
{% load static %}
{% block title %}Добавить фото{% endblock %}





{% block main_body %}
            <form method="post" enctype="multipart/form-data" action="{% url 'add_photo' %}" class="app-card app-card--narrow">
            {% csrf_token %}
            <h1 class="app-title">Добавить фотографию</h1>
                <p class="app-subtitle">Загрузите архивное фото и добавьте комментарий, чтобы позже проще найти снимок.</p>

                    {{ form.as_ul}}
            <input id="form-submit" type="submit" value="Сохранить">
                {% if success %}
                    <p class="h3 mt-3">{{ success }}</p>
                {% endif %}


            </form>
{% endblock %}