{% extends 'main.html' %}
{% load static %}
{% block title %}Список людей{% endblock %}


{% block main_body %}
            <div class="app-card app-card--narrow">
            <h1 class="app-title">Список людей</h1>
            <p class="app-subtitle">Выберите человека, чтобы открыть карточку, дерево, родственников и фотографии.</p>



            {% csrf_token %}

                    <div class="app-list">
                       {% for person in object_list %}
                       <div class="app-list-item">
                         <a    href="{% url 'detailed_person' pk=person.id  %}">
                      {{ person.last_name }}  {{ person.first_name}}{% if person.middle_name%} {{person.middle_name}}{% endif %}
                        </a>
                        </div>
                       {% empty %}
                       <div class="empty-state">Нет людей</div>
                       {% endfor %}

                         </div>
            </div>
{% endblock %}