{% extends 'main.html' %}
{% load static %}


{% block main_body %}
{% csrf_token %}
            <div class="container">

                {% for lines, arrow_lines in mix_lines %}
                     <div class="row">
                    {% for person in lines %}
                    <div class="col-1">
                    {% if person is None %}
            <img src= "/media/work/white.jpg" height="60" class="figure-img img-fluid rounded" alt="пусто">

                    {% else %}
                        {% if person.id %}

                            <a href="{% url 'detailed_person' pk=person.id%}">
                            {% include 'tree_person.html' %}
                            </a>

                        {% else %}
                            <a href="{% url 'create_person'%}">
                            {% include 'tree_person.html' %}
                            </a>
                    {% endif %}
                    {% endif %}
                    </div>
                    {% endfor %}
                   </div>

                     <div class="row">
                      {% for arrow, wi in arrow_lines %}
                    <div class="col-{{ wi }}">
            <img src="{{ arrow }}" height="20" width="auto" class="figure-img img-fluid rounded" alt="стрелка">
                     </div>
                {% endfor %}
                     {% endfor %}




            </div>



{% endblock %}