{% extends 'main.html' %}
{% load static %}

{% block title %}Древо{% endblock title%}

    {% block styles %}
    <style>

        body {

            background-image: url(/media/work/oak.png);
            background-repeat:no-repeat;
            background-position:center 50px;
            background-attachment:fixed;
        }

    </style>
    {% endblock styles %}



<body>

{% block main_body %}
    <div class="app-card app-card--narrow">
        <h1 class="app-title">🌳 Генеалогическое древо</h1>
        <p class="app-subtitle">Добро пожаловать в семейный архив: здесь можно смотреть дерево, добавлять людей и хранить архивные фотографии.</p>

        <div class="app-list">
            <div class="app-list-item">📷 <a href="{% url 'photo_list' %}">Посмотреть фотографии</a> или <a href="{% url 'add_photo' %}">добавить новое архивное фото</a>.</div>
            <div class="app-list-item">👥 <a href="{% url 'persons_list'%}">Открыть список людей</a>, занесенных в древо.</div>
            <div class="app-list-item">🌿 Смотреть связи и родственников по каждому человеку отдельно.</div>
            <div class="app-list-item">➕ <a href="{% url 'create_person'%}">Добавить нового человека</a> и указать его связи.</div>
        </div>
    </div>
{% endblock main_body %}


</body>
</html>