{% extends 'main.html' %}
{% load static %}

{% block title %}Древо{% endblock title%}

    {% block styles %}
    <style>

        body {

            background-image: url(/media/work/oak.png);
            background-repeat:no-repeat;
            background-position:center 50px;
            background-attachment:fixed;
        }

    </style>
    {% endblock styles %}



<body>
    {% block main_body %}

        <h3>Генеалогическое древо</h3>
        <h7>  Здесь можно будет посмотреть и добавить <a href="{% url 'photo_list' %}">архивные фотографии</a>,<br></h7>
        <h7>  посмотреть всех людей, <a href="{% url 'persons_list'%}">занесенных в древо</a>,<br></h7>
        <h7>  а также все связи и родственников по каждому человеку в отдельности.<br></h7>

    {% endblock main_body %}


</body>
</html>