{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow" />

    <title> {% block title %}{% endblock%}</title>


<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css"%}">

    {% block styles %}
    <style>

        .main_body_style {

            background-image: url(/media/work/oak.png);
            background-repeat:no-repeat;
            background-position:center 50px;
            background-attachment:fixed;


        }

    </style>
    {% endblock styles %}

    <script type="text/javascript" src="{% static "jquery/jquery-3.6.0.min.js"%}"></script>
    <script type="text/javascript" src="{% static "bootstrap/js/bootstrap.bundle.min.js"%}"></script>


</head>



<body>
{% block body %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'family_tree'%}">Список</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Люди
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'create_person' %}">Добавить человека</a></li>
            <li><a class="dropdown-item" href="{% url 'persons_list'%}">Список людей</a></li>

          </ul>
        </li>

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Архивные Фото
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'add_photo'%}">Добавить фотографию</a></li>
            <li><a class="dropdown-item" href="{% url 'photo_list' %}">Посмотреть фотографии</a></li>

          </ul>
        </li>


      </ul>
     {%  block search_place %}
      <form class="d-flex" action="{% url 'persons_list' %}">
        <input class="form-control me-2" type="search" placeholder="Поиск человека" aria-label="Search" name="search_p">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
      </form>
      {% endblock search_place %}
    </div>
  </div>
</nav>


    {% block main_body %}


    {% endblock main_body %}

{% endblock body %}



</body>
</html>