
                    {% for person in main_person %}
                    <div class="col-1">
                    {% if person.id %}
               <a href="{% url 'change_person' pk=person.id%}">
                {% include 'tree_person.html' %}
               </a>
                    {% else %}
                        {% include 'tree_person.html' %}
                    {% endif %}

                    </div>
                    {% endfor %}

                <div class="row">
                {% for person in marr_person %}
                    <div class="col-1">
              {% if person.id %}
               <a href="{% url 'change_person' pk=person.id%}">
                {% include 'tree_person.html' %}
               </a>
                    {% else %}
                        {% include 'tree_person.html' %}
                    {% endif %}
                    </div>
                    {% endfor %}

                <div class="row">
                {% for person in children_of_person %}
                    <div class="col-1">
              {% if person.id %}
               <a href="{% url 'change_person' pk=person.id%}">
                {% include 'tree_person.html' %}
               </a>
                    {% else %}
                        {% include 'tree_person.html' %}
                    {% endif %}
                    </div>
                    {% endfor %}

                <div class="row">
                {% for person in parents %}
                    <div class="col-1">
               {% if person.id %}
               <a href="{% url 'change_person' pk=person.id%}">
                {% include 'tree_person.html' %}
               </a>
                    {% else %}
                        {% include 'tree_person.html' %}
                    {% endif %}
                    </div>
                    {% endfor %}

                <div class="row">
                {% for person in grandparents %}
                    <div class="col-1">
               {% if person.id %}
               <a href="{% url 'change_person' pk=person.id%}">
                {% include 'tree_person.html' %}
               </a>
                    {% else %}
                        {% include 'tree_person.html' %}
                    {% endif %}
                    </div>
                    {% endfor %}