{% load static %}

<div class="tree_person">
    <div class="tree_person__item">

        <figure class="figure">
            {% if person.mainPhoto.url %}
                <img class="border border-5" src= "{{person.mainPhoto.url}}"  width="60" class="figure-img img-fluid rounded" alt="Тут что-то будет">
            {% endif %}
            <figcaption class="figure-caption">{{ person.last_name}}

        {{ person.first_name }}
            {% if person.middle_name %}
                {{ person.middle_name }}
            {% endif %}
    </figcaption>
</figure>
        </div>

</div>