{% extends 'main.html' %}
{% load static %}



{% block main_body %}
{% csrf_token %}
    <div class="container">

           {% for lines, arrow_lines in mix_lines %}
               <div class="row">

                    {% for person in lines %}
                    <div class="col-1">
                    {% if person is None %}
            <img src= "/media/work/transp.png" height="60" class="figure-img img-fluid rounded" alt="пусто">

                    {% else %}
                        {% if person.id %}

                            <a  style="color: #4f5050" href="{% url 'detailed_person' pk=person.id%}"   >
                            {% include 'Tree/tree_person.html' %}
                            </a>

                        {% else %}
                            <a  style="color: #4f5050" href="{% url 'create_person'%}">
                            {% include 'Tree/tree_person.html' %}
                            </a>
                    {% endif %}
                    {% endif %}
                    </div>
                    {% endfor %}

                   {% if forloop.counter == 2 %}
                     <div class="col-3">
                    {% include 'Tree/button_for_move.html' %}
                     </div>

                   {% endif %}
                   </div>


                     <div class="row">
                      {% for arrow, wi in arrow_lines %}
                    <div class="col-{{ wi }}">
            <img src="{{ arrow }}" height="20" width="auto" class="figure-img img-fluid rounded" alt="стрелка">
                     </div>
                {% endfor %}
                     {% endfor %}

            </div>


    </div>
    {% endblock main_body %}