{% load static %}

<div class="tree_person">
    <div class="tree_person__item" >

    {% if person.id is not None %}

                {% if person.id == id %}
            <!-- Человек в текущем фокусе дерева: делаем самую заметную и аккуратную рамку -->
                        <div class="tree-person-photo-wrap tree-person-photo-wrap--active">
                            <img class="tree-person-photo" src="{{person.mainPhoto.url}}" alt="фото">
                        </div>

                {%  elif person.death_date %}
            <!-- Для умершего человека используем более спокойный тон рамки -->
                        <div class="tree-person-photo-wrap tree-person-photo-wrap--archived">
                            <img class="tree-person-photo" src="{{person.mainPhoto.url}}" alt="фото">
                        </div>

                {% else %}
                        <div class="tree-person-photo-wrap tree-person-photo-wrap--regular">
                            <img class="tree-person-photo" src="{{person.mainPhoto.url}}" alt="фото">
                        </div>
                {% endif %}

            {% else  %}
                <!-- Временный/пустой человек для добавления в дерево -->
                <div class="tree-person-photo-wrap tree-person-photo-wrap--empty">
                    <img class="tree-person-photo" src="{{person.mainPhoto.url}}" alt="фото">
                </div>
            {% endif %}

             <div class="tree-person-name">
                <div class="tree-person-last-name">{{ person.last_name }}</div>
                <div class="tree-person-first-name">{{ person.first_name }}</div>
                {% if person.middle_name %}
                    <div class="tree-person-middle-name">{{ person.middle_name }}</div>
                {% endif %}
            </div>


        </div>

</div>